.sMediaContainer {
    background-color: rgb(185, 185, 185, .2);
    border-radius: 10px;
    margin: 0% 92% 0% 0%;
    padding: .4%;
    position: absolute;
    left: 94%;
}



.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
}

.fa:hover {
    opacity: .6;
}

.fa-facebook {
    background: #49493b;
    color: #fffbe4;
}

.fa-twitter {
    background: #49493b;
    color: #fffbe4;
}

.fa-youtube {
    background: #49493b;
    color: #fffbe4;
}

.fa-reddit {
    background: #49493b;
    color: #fffbe4;
}