.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sMediaContainer {
    background-color: rgba(255, 255, 255,);
    border-radius: 10px;
    margin: 0% 92% 0% 0%;
    padding: .4%;
    position: absolute;
    left: 89%;
}



.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fa:hover {
    opacity: 1;
    background-image: url("metal1.jpg");
}
/*
.fa:active {
    background-image: url("");
}
*/
.fa-facebook {
    background: #49493b;
    background-image: url("brass(edited).jpg");
    color: #fffbe4;
}

.fa-twitter {
    background: #49493b;
    background-image: url("brass(edited).jpg");
    color: #fffbe4;
}

.fa-youtube {
    background: #49493b;
    background-image: url("brass(edited).jpg");
    color: #fffbe4;
}

.fa-reddit {
    background: #49493b;
    background-image: url("brass(edited).jpg");
    color: #fffbe4;
}